<template name="aboutPage">
    <h1>This is the about page</h1>
    <p>We originally started with an idea to implement a community database with a questionnaire. Our vision was that: We are working to create a more convenient and welcoming atmosphere to connect with organizations who assist those in the Des Moines Community. This would be accomplished via an interactive website database which would be used by the Des Moines and Greater Des Moines community in partnership with the Northwest     Quadrant Project to allow for real time filtering and information at a glance for individuals or families who may be too busy or not know where to look for the necessary information.</p>
</template>
